<configuration>

    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <property name="LOG_PATH" value="logs"/>
    <property name="LOG_FILE" value="${LOG_PATH}/${appName}.log"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>@timestamp</fieldName>
                </timestamp>

                <pattern>
                    <pattern>
                        {
                        "level": "%level",
                        "logger": "%logger",
                        "thread": "%thread",
                        "uri": "%X{requestURI}",
                        "message": "%message",
                        "correlationId": "%X{correlationId}",
                        "traceId": "%X{traceId:-}",
                        "spanId": "%X{spanId:-}",
                        "appName": "${appName}"
                        }
                    </pattern>
                </pattern>

                <stackTrace/>

            </providers>
        </encoder>
    </appender>

    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${appName}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>

                <timestamp>
                    <fieldName>@timestamp</fieldName>
                </timestamp>

                <pattern>
                    <pattern>
                        {
                        "level": "%level",
                        "logger": "%logger",
                        "thread": "%thread",
                        "uri": "%X{requestURI}",
                        "message": "%message",
                        "correlationId": "%X{correlationId}",
                        "traceId": "%X{traceId:-}",
                        "spanId": "%X{spanId:-}",
                        "appName": "${appName}"
                        }
                    </pattern>
                </pattern>

                <stackTrace/>

            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
        <appender-ref ref="JSON_FILE"/>
    </root>

</configuration>